.header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: $viewportWidth;
    background-color: #f8f9fa;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: $pageWidth;
    max-height: 10rem;

    nav {
        a {
            padding: 1rem;
            color: gray;
        }
    }

    .logo {
        max-height: 10rem;
        max-width: 10rem;
    }
}