main {
    display: flex;
    justify-content: center;

    .main {
        &__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;

            img {
                width: 100%;
                height: auto;
            }
        }

        &__information {
            display: flex;

            justify-content: space-evenly;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        &__navigation {
            display: flex;
            justify-content: center;

            iframe {
                transform: translateY(2rem);
            }
        }
    }
}